
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

:root {
    --main_color: #1B263B;
    --text_color: #f1f3f5;
    --text_color-shade: #343a40;
    --accent_color: #48CAE4;
    
}

body {
    background-color: #FEF8E7;
    padding: 0 30px;

}

h2 {
   font-size: 2rem;
}

.hero_section {
   background: linear-gradient(135deg, #1B263B 64%, #456789 36%);
    margin-bottom: 100px;
    height: 600px;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.logo {
    font-weight:700 ;
    font-size: 20px;
    color: var(--accent_color);
    padding-left: 20px;
}

.nav_links ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 15px;
    cursor: pointer;
    color: var(--text_color);
    font-size: 400;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_links ul :hover {
    color: var(--accent_color);
}

.content {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

.content_text {
    color: var(--text_color);
    text-align: left;
    font-size: 400;
    line-height: 1.5;

}

.content_text h1 {
    font-weight: bold;
    font-size: 4rem;
}

.content_text p {
    padding-bottom: 40px;
}

.cta_button {
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: #c5f6fa;
    height: 100px;
    width: 200px;
    text-transform: uppercase;
    border-radius: 1000px;
    color: var(--text_color-shade);
    font-weight: 700;
    cursor: pointer;
}

.cta_button:hover {
     box-shadow: 5px 10px 10px 5.5px rgba(72, 202, 228, 0.4);
     background-color: var(--accent_color);
    }



.content_image {
    position: absolute;
    bottom: -80px;
    right: 5;
    height: 150%;
    width: 150%;
    object-fit: cover;
}

.white_circle {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: var(--text_color);
    border-radius: 50% 50% 50% 50%;
    overflow: hidden; 
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    margin-top: 15px;
    border: 4px solid var(--accent_color);
}



.skill_section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    padding-left: 30px;
}

.skill_content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.skill_content p {
    color: var(--text_color-shade);
    font-weight: 400 ;
    font-size: 16px;
}

.skill_icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 600px;
}

.skill_icons li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color: var(--accent_color);
    border-radius: 8px;
    padding: 20px;
}

.skill_icons img {
    width: 100px;
    height: 100px;
}

.skill_icons svg {
    width: 95px;
}

.About_ME-Section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-bottom: 160px;
   
}

.About_ME-Section_content {
    display: flex;
    width: auto;
    max-width: 1000px;       
    align-items: center;
    gap: 40px;
    background-color: var(--main_color);
    padding: 30px;
}

.About_ME-Section_text h2, p {
    color: var(--text_color) 
}

.About_ME-Section_text p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

