* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    background-color: #c2e2d3;
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --bg_color: #c2e2d3;
    --crimson_red-accent: #fd4061;
    --green_accent: #58c592;
    --cyber_yellow:#ffd700;
}

.nav_bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--green_accent);    
    z-index: 1000;
}

.nav_bar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav_logo img {
    height: 50px;
    width: 100px;
}

.nav_links {
    display: flex;
    list-style-type: none;
    font-weight: 500;
}

.nav_links li a {
    color: white;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    margin-left: 20px;
}

.hero_section {
    position: relative;
    min-width: 800px;
    width: 100%;
    height: 800px;
    margin-bottom: 60px;
}


img {
    height: 800px;
    width: 100%;
    object-fit: cover;
}

.hero_content {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.hero_text {
    position: absolute;
    top: 130px;
    left: 20px;
    line-height: 1.4;
}

.hero_text-h1 {
    color: var(--crimson_red-accent);
    text-align: center;
    font-family: oswald ;
    text-shadow:  2px 4px #000000;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.4;
    letter-spacing: 2;
}

.hero_text-h2 {
    padding-top: 20px;
    font-family: 'roboto';
    font-weight: 400;
    text-align: center;
    color:#000000;
    width: 800px;
    height: 100px;
}

.cta_button-container {
    position: absolute;
    top: 520px;
    left: 275px;
    


}

.btn {
    background-color: var(--green_accent);
    height: 100px;
    width: 200px;
    font-family: 'roboto' sans-serif;
    font-size: 12px;
    border-radius: 50%;
    color: #050505;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #29e08b;
}

.skill_section-container {
    display: flex;
    justify-content: center;
}


.skill_section {
   width: 85%;
   height: auto;
   background-color: var(--cyber_yellow);
}

.skill_section-content p {
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 40px;
}

h1.skill_h1 {
    text-align: center;
    font-family: oswald ;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 5px;
    color: var(--crimson_red-accent);
    font-weight: bolder;
    margin-bottom: 10px;
}

.skill_list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 60px;
}

.skill_list img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: var(--crimson_red-accent);
}



.aboutme_h1{
  margin-bottom: 10px;
  text-align: center;
  color: var(--crimson_red-accent);
  font-family: oswald;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
}


.aboutme-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.aboutme-content {
    width: 800px;
    height: auto;
    background-color: var(--cyber_yellow);
    overflow-y: hidden
}

.aboutme-content img {
    height: 400px;
    width: 400px;
    float: left;
    border-radius: 50%;
}

.aboutme_text {
    font-family: 'roboto' , sans-serif;
    padding: 20px;
}